/* CSS */


/* ANIMATIONS */

@keyframes text-blink {
    0%, 49% {
        color: #FFF;
    }

    50%, 100% {
        color: transparent;
    }
}


/* HTML */

body {
    padding: 0 0.1rem;
}

a {
    color: #3FF;
}

a:hover, a:active {
    color: #3D3;
    text-decoration: none;
}

pre {
    text-wrap: wrap;
}

.blue   {color: #33F}
.cyan   {color: #3FF}
.green  {color: #1F1}
.grey   {color: #999}
.red    {color: #D33}
.yellow {color: #EE2}

.blinker {
    user-select: none;
    animation: text-blink .8s linear infinite;
}


/* APP */

#term {
    cursor: text;
}
