/* CSS */

@keyframes bg-blink {
    5%, 45% {
        background: #FFF;
    }

    55%, 95% {
        background: transparent;
    }
}

a {
    color: #3FF;
}

a:hover, a:active {
    color: #3D3;
    text-decoration: none;
}

pre {
    text-wrap: wrap;
}

.blue   {color: #33F}
.cyan   {color: #3FF}
.green  {color: #1F1}
.grey   {color: #999}
.red    {color: #D33}
.yellow {color: #EE2}

.hidden {
    visibility: hidden;
}


/* APP */

.app {
    padding: 0 .1rem;
}

.term {
    min-height: 100vh;
    cursor: text;
}

.term__prompt {
    display: flex;
}

.term__ps1 {
    white-space: pre;
    flex-shrink: 0;
}

.term__input-hidden {
    display: block;
    width: 0;
    height: 0;
    outline: none;
    border: none;
}

.term__input-display {
    max-width: 100%;
}

.term__input-blink.blink-active {
    display: inline;
    width: .5rem;
    position: relative;
    animation: bg-blink infinite linear 1s;
}
