/* CSS */

body {
	background: #000;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
}

input {
	border: none;
	outline: none;
	background: none;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
}

a {
    color: #3FF;
}

a:hover, a:active {
    color: #3D3;
    text-decoration: none;
}

pre {
    text-wrap: wrap;
}

.blue   {color: #33F}
.cyan   {color: #3FF}
.green  {color: #1F1}
.grey   {color: #999}
.red    {color: #D33}
.yellow {color: #EE2}

.hidden {
    visibility: hidden;
}


/* APP */

::selection,
::-moz-selection {
    color: #000;
    background: #FFF;
}

.app {
    padding: 0 .1rem;
}

.term {
    min-height: 100vh;
    cursor: text;
}

.term-prompt {
    display: flex;
    white-space: pre;
}

.term-ps1 {
    flex-shrink: 0;
}

.term-ps1 {
    white-space: pre;
}

.term-input {
    width: 100%;
}
